extends layout

block content
  canvas#game-canvas(width='500', height='500')
  script(src='javascripts/vendor/require1k.min.js')
  script(src='javascripts/vendor/matter.js')
  script(src='javascripts/index.js')